.profileSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #425F96;
}
.flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 25px auto;
  width: 89.06%;
  max-width: 1709.9375px;
}
.contentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  min-width: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px 25px 25px 25px;
}
.flexRow1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 11px 0px 9px 17px;
  width: 110px;
  max-width: 85%;
}
.profileImage {
  position: relative;
  width: 23px;
  height: 30px;
  aspect-ratio: 0.77;
  object-fit: cover;
}
.highlightSearch {
  position: relative;
  margin: 4px 0px;
  font: 400 18px/1.2 "Georgia", Helvetica, Arial, serif;
  color: rgba(0, 0, 0, 0.427);
}
.highlightProfile {
  position: relative;
  font: 400 18px/1.2 "Georgia", Helvetica, Arial, serif;
  color: rgb(255, 255, 255);
}
.logoutButton {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 120px;
  font: 400 18px/1.2 "Georgia", Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(232, 186, 68);
  border-radius: 20px 20px 20px 20px;
  padding: 9px 32px 9px 32px;
}
